<div class="container-fluid">
  <div class="col-md-3">
    <h2><%= @lesson.title %></h2>
    <% if current_user.try(:admin?) %>
      <%= link_to "New Step", new_step_path(:lesson_id => @lesson.id)%>
    <% end %>
    <div class='step-dropdown'>
      <div class='step-preview'>Select a Step</div>
      <% @lesson.steps.order(:step_number).each do |step| %>
        <%= content_tag "div", class: "step-input", data: {title: step.title} do %>
          <%= link_to "#{step.title}", step_path(step), remote: true %>
        <% end %>
      <% end %>
    </div>
    <div id="step-results"></div>
  </div>

  <div class="col-md-9">
    <%= render '/shared/editor' %>
  </div>
</div>
