<!DOCTYPE html>
<html>
<head>
  <title>Code Nuggets</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <!--Fixed Navbar-->
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Code Nuggets</a>
      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
          <li><%= link_to "Link1", "/path1"  %></li>
          <li><%= link_to "Link2", "/path2"  %></li>
          <li><%= link_to "About", "/path3"  %></li>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="container-fluid">
    <div class="row">
      
      <!--sidebar-->
      <div class="col-md-2">
        <div class="sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Export</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item</a></li>
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
            <li><a href="">More navigation</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
          </ul>
        </div>
      </div>
      <!--end sidebar-->
      
      <!--Tutorials-->
      <div class="col-md-4 scroll">
        <p>Lorem ipsum dolor sit amet, falli perfecto eum ei, eu eos eruditi docendi. His ex wisi saperet fabellas, ne illum postulant gubergren nam, stet corpora salutandi ea cum. In magna omnis temporibus vis. Eos elit nihil temporibus et, mei ne utamur omnesque voluptatibus, vis ut latine probatus accusata. Est te harum iisque, quo brute oporteat cu.
            Cibo erat salutandi ad sit, ex mollis alienum tacimates per. Eu sit impetus pertinacia, vis omnes euismod scribentur no, mel virtute delicata disputando ea. Ei quidam salutandi est, solum tollit epicurei vim eu. Ne congue persius instructior vel, vitae eligendi scripserit sed cu. Clita nostro has in, veri euripidis eos eu. Ei sensibus moderatius vis, delenit partiendo urbanitas no est.
            Scripta perfecto imperdiet ut eum. Quot eruditi cum ex. Vidisse minimum accusata ex eum, at lorem iracundia sadipscing nam, has ea tation nominati neglegentur. Eu qui nemore accusamus, id choro scaevola vim.
            Mel falli aliquam explicari ea, cu alii salutatus vim. Vix cu wisi quidam ancillae. Putent luptatum in vis. An timeam molestie invidunt ius, amet erant ut mel. Ea nam tacimates convenire, ex vix fierent incorrupte. Dicta aliquid eam ei. Id contentiones deterruisset has.
        </p>
        <p>Lorem ipsum dolor sit amet, falli perfecto eum ei, eu eos eruditi docendi. His ex wisi saperet fabellas, ne illum postulant gubergren nam, stet corpora salutandi ea cum. In magna omnis temporibus vis. Eos elit nihil temporibus et, mei ne utamur omnesque voluptatibus, vis ut latine probatus accusata. Est te harum iisque, quo brute oporteat cu.
            Cibo erat salutandi ad sit, ex mollis alienum tacimates per. Eu sit impetus pertinacia, vis omnes euismod scribentur no, mel virtute delicata disputando ea. Ei quidam salutandi est, solum tollit epicurei vim eu. Ne congue persius instructior vel, vitae eligendi scripserit sed cu. Clita nostro has in, veri euripidis eos eu. Ei sensibus moderatius vis, delenit partiendo urbanitas no est.
            Scripta perfecto imperdiet ut eum. Quot eruditi cum ex. Vidisse minimum accusata ex eum, at lorem iracundia sadipscing nam, has ea tation nominati neglegentur. Eu qui nemore accusamus, id choro scaevola vim.
            Mel falli aliquam explicari ea, cu alii salutatus vim. Vix cu wisi quidam ancillae. Putent luptatum in vis. An timeam molestie invidunt ius, amet erant ut mel. Ea nam tacimates convenire, ex vix fierent incorrupte. Dicta aliquid eam ei. Id contentiones deterruisset has.
        </p>
        <p>Lorem ipsum dolor sit amet, falli perfecto eum ei, eu eos eruditi docendi. His ex wisi saperet fabellas, ne illum postulant gubergren nam, stet corpora salutandi ea cum. In magna omnis temporibus vis. Eos elit nihil temporibus et, mei ne utamur omnesque voluptatibus, vis ut latine probatus accusata. Est te harum iisque, quo brute oporteat cu.
            Cibo erat salutandi ad sit, ex mollis alienum tacimates per. Eu sit impetus pertinacia, vis omnes euismod scribentur no, mel virtute delicata disputando ea. Ei quidam salutandi est, solum tollit epicurei vim eu. Ne congue persius instructior vel, vitae eligendi scripserit sed cu. Clita nostro has in, veri euripidis eos eu. Ei sensibus moderatius vis, delenit partiendo urbanitas no est.
            Scripta perfecto imperdiet ut eum. Quot eruditi cum ex. Vidisse minimum accusata ex eum, at lorem iracundia sadipscing nam, has ea tation nominati neglegentur. Eu qui nemore accusamus, id choro scaevola vim.
            Mel falli aliquam explicari ea, cu alii salutatus vim. Vix cu wisi quidam ancillae. Putent luptatum in vis. An timeam molestie invidunt ius, amet erant ut mel. Ea nam tacimates convenire, ex vix fierent incorrupte. Dicta aliquid eam ei. Id contentiones deterruisset has.
        </p>
        <p>Lorem ipsum dolor sit amet, falli perfecto eum ei, eu eos eruditi docendi. His ex wisi saperet fabellas, ne illum postulant gubergren nam, stet corpora salutandi ea cum. In magna omnis temporibus vis. Eos elit nihil temporibus et, mei ne utamur omnesque voluptatibus, vis ut latine probatus accusata. Est te harum iisque, quo brute oporteat cu.
            Cibo erat salutandi ad sit, ex mollis alienum tacimates per. Eu sit impetus pertinacia, vis omnes euismod scribentur no, mel virtute delicata disputando ea. Ei quidam salutandi est, solum tollit epicurei vim eu. Ne congue persius instructior vel, vitae eligendi scripserit sed cu. Clita nostro has in, veri euripidis eos eu. Ei sensibus moderatius vis, delenit partiendo urbanitas no est.
            Scripta perfecto imperdiet ut eum. Quot eruditi cum ex. Vidisse minimum accusata ex eum, at lorem iracundia sadipscing nam, has ea tation nominati neglegentur. Eu qui nemore accusamus, id choro scaevola vim.
            Mel falli aliquam explicari ea, cu alii salutatus vim. Vix cu wisi quidam ancillae. Putent luptatum in vis. An timeam molestie invidunt ius, amet erant ut mel. Ea nam tacimates convenire, ex vix fierent incorrupte. Dicta aliquid eam ei. Id contentiones deterruisset has.
        </p>
        <p>Lorem ipsum dolor sit amet, falli perfecto eum ei, eu eos eruditi docendi. His ex wisi saperet fabellas, ne illum postulant gubergren nam, stet corpora salutandi ea cum. In magna omnis temporibus vis. Eos elit nihil temporibus et, mei ne utamur omnesque voluptatibus, vis ut latine probatus accusata. Est te harum iisque, quo brute oporteat cu.
            Cibo erat salutandi ad sit, ex mollis alienum tacimates per. Eu sit impetus pertinacia, vis omnes euismod scribentur no, mel virtute delicata disputando ea. Ei quidam salutandi est, solum tollit epicurei vim eu. Ne congue persius instructior vel, vitae eligendi scripserit sed cu. Clita nostro has in, veri euripidis eos eu. Ei sensibus moderatius vis, delenit partiendo urbanitas no est.
            Scripta perfecto imperdiet ut eum. Quot eruditi cum ex. Vidisse minimum accusata ex eum, at lorem iracundia sadipscing nam, has ea tation nominati neglegentur. Eu qui nemore accusamus, id choro scaevola vim.
            Mel falli aliquam explicari ea, cu alii salutatus vim. Vix cu wisi quidam ancillae. Putent luptatum in vis. An timeam molestie invidunt ius, amet erant ut mel. Ea nam tacimates convenire, ex vix fierent incorrupte. Dicta aliquid eam ei. Id contentiones deterruisset has.
        </p>
      </div>
      <!--end tutorials-->
    
      <!--content-->
      <div class="col-md-6">
        <%= yield %>
      </div>
      <!--end content-->

    </div>
    
  <!--footer-->
    <div class="row">
      <footer class="footer">
        <div class="container col-md-12">
          <p class="text-muted">Place sticky footer content here.</p>
        </div>
      </footer>
    </div>
  <!--footer end-->
  </div>
 
</body>
</html>
