<!DOCTYPE html>
<html>

<head>
  <title>Web Dev Nuggets</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track'=> true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track'=> true %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
</head>

<body>
  <!--Render NAV -->
  <%= render 'layouts/navigation' %>
  <!-- end Render NAV -->
  

  <div class="container-fluid">
    <div class="row">
      <%= render 'layouts/messages' %>
        <!--content-->
      <%= yield %>
        <!--end content-->
    </div>

    <!--footer-->
    <!--<div class="row">-->
    <!--  <footer class="footer">-->
    <!--    <div class="container col-md-12">-->
    <!--      <p class="text-muted">Place sticky footer content here.</p>-->
    <!--    </div>-->
    <!--  </footer>-->
    <!--</div>-->
    <!--footer end-->
  </div>

</body>

</html>